
    h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 8rem;
    margin-top: 0px;
    color: white;
    text-shadow: 1px  10px  #E51A4C;
    justify-content: center;
    animation-duration: 4s;
    animation-name: slidein;
      }
      
      @keyframes slidein {
        from {
          margin-left: 0%;
          width: 300%
        }
      
        to {
          margin-left: 60%;
          width: 100%;
        }
      }
    
  
    
    

h2{
    font-family: 'Fredoka One', cursive;
    color: #E51A4C;
    font-size: 3rem;
    text-shadow: 1px 5px white;
    text-align: center;
   

}
h3{
    margin: 0px;
    padding-top: 48px;
    color: #F24A72;
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    text-align: center;
    
}
h4{
    margin: 0px;
    padding-top: 48px;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 3rem;
    text-align: center;
    
}
.h4bienvenido{
    color: #E51A4C;
    font-size: 2rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

}
h5{
    margin: 0px;
}
p{
    color: #F24A72;
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 32px;

}


.navbarra , .navbar{
    background-color: #F24A72;
    height: 90px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 1140px;
 
    
}

.pie{
    background-color: #E51A4C;
    height: 90px;
    bottom:  0px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    
  }
   .home{
       bottom: 7.5px;
   }
  li {
    display: inline;
  }
  li a { 
      color: white;
      font-family: 'Varela Round', sans-serif;
      font-size: 3.25rem;
      text-decoration: none;      
  }


  .registrate, .reg{
      padding-top: 14px;
      float: right;

  }
  .inicio_sesion, .ini{
      padding-top: 14px;
    float: right;
}
 .areg{
     font-size: 1.5rem;
     margin-left: 30px;
 }
 .aini{
    font-size: 1.5rem;
}
body{
    margin: 0px;
    align-items: center;
  
    
       
}
.uno{
    width: 100%;
    height: 500px;
    background-size: 50%;
    background-image: url("./katlentes.jpg");
    /* background-image: url("../imagenes/MascaraF7F5F2.jpg"); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;
 
      
}

.dos{
   margin: 0px;
    background-color: #F7F5F2;
    display: flex;
    

    
}

.imggatos{
    width: 100%;
    height: 100%;
}
.registroiniciosesion{
    background-color: #F24A72;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding-bottom:  30px;
    
}
.button {
    background-color: white; 
    margin: 5px;
    border: none;
    color: #F24A72;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 5px;
}


/* registro */

.registror {
    width: 100%;
    background-size: 50%;
    background-image: url("./katlentes.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 88px;

}

.mb-3{
    margin-left: 3rem;
    margin-right: 3rem;    

}
.formulario label {
    margin: 0px;
    color: #E51A4C;
    font-family: 'Comfortaa', cursive;
    font-size: 1.1rem;
    text-align: center;
    
}

.formulario{
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40%;
    text-align: center;
    
    
}
.correo {
    margin-left: 25px;
    width: 50%;
}
.nombre {
    margin-left: 31px;
    width: 50%;
}
.contra {
    margin-left: 86px;
    width: 50%;
}
.confcontra {
    margin-left: 13x;
    width: 50%;
}

.formulario1, .formulario2, .formulario3 , .formulario4  {
    margin-bottom: 10px;
}

.mensaje {
    padding: 5px 15px;
    font-size: 16px;
    margin: 0px;
  }
  #mensajes {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
button{
    background-color: #E51A4C;
    color: white;
    border-radius: 5px;
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.iconos{
    margin-top: 15px;
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    text-shadow: 1px 5px white;
    text-align: center;
   

}
.iconos a{
    color: #E51A4C;
    margin: 10px;
}
 .Copyright{
     font-size: 16px;
 }
/* Inicio Sesion */

 .registroi
    {
        width: 100%;
        background-size: 50%;
        background-image: url("./katlentes.jpg");
        /* background-image: url("../imagenes/MascaraF7F5F2.jpg"); */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 88px;

}

 /* Responsive */


 @media screen and (max-width:800px) {

    .registror{
        width: 100%;
        height: 435px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
     }
    .navbar{
        background-color: #F24A72;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 60px;
        height: 100px;
    
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        font-size: 4rem;
        margin-top: 30px;
        color: white;
        text-shadow: 1px  10px  #E51A4C;
        justify-content: center;
        
      
        
        
    }
    h2{
        font-family: 'Fredoka One', cursive;
        color: #E51A4C;
        font-size: 2.0rem;
        text-shadow: 1px 5px white;
        text-align: center;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 15px;
        
      }
    li {
        display: inline;
      }
    li a{
          color: white;
          font-family: 'Varela Round', sans-serif;
          font-size: 3.25rem;
          text-decoration: none;
          
      }
    
    .reg{
          padding-top: 1px;
          float: right;
    
      }
    .ini{
          padding-top: 1px;
        float: right;
    }
    .areg{
         font-size: 1.5rem;
         
     }
    .aini{
        font-size: 1.5rem;
    }
    
    .uno{
        width: 100%;
        height: 300px;
        background-size: 50%;
        background-image: url("./katlentes.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
     
     
          
    }

    .dos{
        margin: 0px;
         background-color: #F7F5F2;
         display: flex;
         flex-wrap: wrap;
        }

   
}
@media screen and (max-width:480px) {

    .navbar{
        background-color: #F24A72;
        position: fixed;
        top: 0px;
        right: 0px;
        left: 0px;
        bottom: 60px;
        height: 100px;
    
    }
    h1{
        font-family: 'Varela Round', sans-serif;
        font-size: 2rem;
        margin-top: 20px;
        color: white;
        text-shadow: 1px  5px  #E51A4C;
        justify-content: center;
        
      
        
        
    }
    h2{
        font-family: 'Fredoka One', cursive;
        color: #E51A4C;
        font-size: 1.0rem;
        text-shadow: 1px 3px white;
        text-align: center;
    }
    
    h3{
        margin: 0px;
        padding-top: 24px;
        color: #F24A72;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        text-align: center;
    }
    h4{
        margin: 0px;
        padding-top: 48px;
        color: white;
        font-family: 'Comfortaa', cursive;
        font-size: 1.5rem;
        text-align: center;
        
    }
    ul {
        list-style-type: none;
        margin: 0;
        
      }
      li {
        display: inline;
      }
      li a{
          margin-top: 15px;
          color: white;
          font-family: 'Varela Round', sans-serif;
          font-size: 2.0rem;
          text-decoration: none;
          
      }
    
      .reg{
         
          float: right;
    
      }
      .ini{
          
        float: right;
    }
     .areg{
         font-size: 1.5rem;
         margin-left: 25px;
     }
     .aini{
        font-size: 1.5rem;
    }
    
    .uno{
        width: 100%;
        height: 150px;
        background-size: 50%;
        background-image: url("./katlentes.jpg");
       
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
    .button {
        background-color: white; 
        margin: 5px;
        border: none;
        color: #F24A72;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        font-family: 'Varela Round', sans-serif;
        border-radius: 5px;
    }

  
      
}
